<template data-controller-name="net__rozzo__ui5.mtest__app.controllers.Home">
	
<div data-sap-ui-type="sap.m.Label" data-text="This part comes from sap.m"></div>

	<div data-sap-ui-type="sap.m.List">
		<div data-sap-ui-type="sap.m.StandardListItem" data-title="List Item 1" data-description="sap.m.StandardListItem"></div>
		<div data-sap-ui-type="sap.m.StandardListItem" data-title="List Item 2" data-description="sap.m.StandardListItem"></div>
		<div data-sap-ui-type="sap.m.StandardListItem" data-title="List Item 3" data-description="sap.m.StandardListItem"></div>
	</div>
	
	<div data-sap-ui-type="sap.m.Button" data-text="sap.m.Button"></div>

	<div data-sap-ui-type="sap.ui.commons.Label" data-text="This part comes from sap.ui.commons"></div>

</template>