<template data-controller-name="ui5strap.ActionController">
	
<div data-sap-ui-type="ui5strap.Button" class="navcontainer-my-button navcontainer-my-button-4" data-tap="a_run" data-custom-data:a_id="net__rozzo__test.codetest__app.actions.GotoPage2"><div data-sap-ui-type="ui5strap.Icon" data-icon="pencil"></div></div>

<div data-sap-ui-type="ui5strap.Button" class="navcontainer-my-button navcontainer-my-button-5" data-tap="a_run" data-custom-data:a_id="net__rozzo__test.codetest__app.actions.GotoPage3"><div data-sap-ui-type="ui5strap.Icon" data-icon="remove"></div></div>

</template>