<template data-controller-name="ui5strap.ActionController">
	
<div data-sap-ui-type="ui5strap.Button" class="navcontainer-my-button navcontainer-my-button-1" data-tap="a_run" data-custom-data:a_id="net__rozzo__test.codetest__app.actions.GotoHome"><div data-sap-ui-type="ui5strap.Icon" data-icon="home"></div></div>

<div data-sap-ui-type="ui5strap.Button" class="navcontainer-my-button navcontainer-my-button-2" data-tap="a_run" data-custom-data:a_id="net__rozzo__test.codetest__app.actions.GotoPage2"><div data-sap-ui-type="ui5strap.Icon" data-icon="plane"></div></div>

<div data-sap-ui-type="ui5strap.Button" class="navcontainer-my-button navcontainer-my-button-3" data-tap="a_run" data-custom-data:a_id="net__rozzo__test.codetest__app.actions.GotoPage3"><div data-sap-ui-type="ui5strap.Icon" data-icon="rocket"></div></div>

</template>